* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Paleta de cores */
  --cor-0: #000;
  --cor-01: #00000066;
  --cor-02: #222222;
  --cor-03: #303030;
  --cor-04: #8c8c8c;
  --cor-05: #fff;
  --cor-06: #e50914;
}

body {
  position: relative;

  overflow-x: hidden;

  text-rendering: optimizelegibility;

  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  word-spacing: 0;

  scroll-behavior: smooth;

  color: var(--cor-05);
  background-color: var(--cor-0);
}

img {
  display: block; /*  Por padrão as imagens vem em display inline-block*/
  max-width: 100%; /*  A imagem sempre vai ocupar 100% do width do seu pai*/
}

a {
  text-decoration: none;
  color: var(--cor-05);
  transition: all 150ms linear 0s;
}

a:hover {
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  max-width: 85vw;
  max-height: 50px;
  margin: 22px auto 0 auto;
}

.header-nav {
  display: flex;
  flex-flow: row nowrap;

  gap: 2rem;
}

#header-lang-select {
  padding: 8px 5px;

  background-color: var(--cor-01);
  color: var(--cor-05);
  border: var(--cor-05) 0.5px solid;
  border-radius: 3px;
}

.header-btn-entrar {
  padding: 10px 20px;

  background-color: var(--cor-06);

  border-radius: 3px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: column wrap; */

  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 100vw;
  height: 75vh;

  background: url(../images/header-bg.jpg) no-repeat center;
  background-size: cover;
  background-clip: content-box;

  border-bottom: 8px solid var(--cor-02);
}

.main-background-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  background-color: var(--cor-01);
  background-image: linear-gradient(
    to top,
    var(--cor-01) 0,
    var(--cor-01) 60%,
    var(--cor-01) 100%
  );
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  z-index: 2;

  max-width: 850px;

  text-align: center;

  color: var(--cor-05);
}

.main-content h1 {
  font-size: 4rem;
  line-height: 4.4rem;
}

.main-content h2 {
  padding: 16px 0;

  font-size: 1.63rem;
  font-weight: 400;
}

.main-content h3 {
  padding-top: 13.6px;
  padding-bottom: 20px;

  font-size: 1.2rem;
}

.main-form-email {
  display: flex;
  width: 85%;
  max-height: 70px;
}

#main-input-email {
  width: 70%;
  padding: 20px 10px;

  color: var(--cor-04);
  border: solid 1px var(--cor-04);
}

.main-form-email > button {
  width: 30%;
  padding: 20px 30px;

  font-size: 1.875rem;

  background-color: var(--cor-06);
  color: var(--cor-05);

  border: none;
  border-left: solid 1px var(--cor-0);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 45px;
  border-bottom: 8px solid var(--cor-02);
}

.section-content {
  max-width: 1100px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.section-content-text {
  width: 52%;
}

.section-content-text > h1 {
  margin-bottom: 0.5rem;
  
  font-size: 3.125rem;
}

.section-content-text p {
  margin: 20px 0 7px 0;

  font-size: 1.625rem;
}

.section-content-card {
  position: relative;

  width: 48%;
}

.section-content-card-video {
  position: absolute;
  top: 13%;
  left: 13%;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 73%;
  height: 70%;
}

.section-content-card > .section-content-card-video > video {
  width: 100%;
  height: 100%;
}

.desktop-video-asset {
  top: 10%;
  left: 19%;
  right: 0;
  bottom: 0;
  width: 61%;
  height: 46%;
}

.section-content-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 42px;
  width: 100%;

  text-align: center;
}

.section-content-questions h1 {
  font-size: 3.125rem;
}

.section-content-toggle-list {
  width: 100%;
  max-width: 815px;

  text-align: left;
}

.section-content-toggle-list li {
  margin-bottom: 8px;
  padding: 21px 57px 21px 31px;

  font-size: 1.625rem;

  list-style: none;

  background-color: var(--cor-03);
}

.section-content-toggle-list li:last-child {
  margin: 0;
}

.section-content-form  {
  max-width: 700px;
  width: 100%;
}
.section-content-form p {
  margin-bottom: 20px;

  font-size: 1.25rem;
}

.section-content-form > .main-form-email {
  width: auto;
}

.footer {
  text-align: center;

  margin: 2.5vh;
}

.footer > p > img {
  display: inline-block;

  margin-left: 1px;
}

.footer a {
  font-weight: 700;

  color: var(--cor-06);
}

@media only screen and (max-width: 1920px) {
  * {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1440px) {
  * {
    font-size: 13px;
  }

  .main-content {
    max-width: 750px;
  }

  .header-logo {
    width: 130px;
    height: 35px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }

  .section-content {
    flex-flow: column wrap;
  }

  .section-content-text {
    width: auto;

    text-align: center;
  }

  .section-content-card {
    width: auto;
  }

  .main-form-email {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-form-email > button {
    width: auto;
    padding: 10px 20px;

    font-size: 1rem;

    border: none;
    border-radius: 2px;
  }

  .section {
    padding: 70px 0;
  }

  .header-logo {
    width: 110px;
    height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 8px;
  }

  .main {
    height: 60vh;
  }

  .header-logo {
    width: 80px;
    height: 25px;
  }

  .header-nav {
    gap: 5px;
  }

  .header-nav a {
    padding: 10px 18px;
    width: auto;
  }

  #header-lang-select {
    padding: 8px 0;
  }
}

/* 

  Smartphone
  280px a 480px

  Tablet
  480px a 768px

  Notebook/Monitor
  768px a 1920px

*/
