* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  /* Cores de plano de fundo */
  --cor-bg0: #000;
  --cor-bg1: #00000066;
  --cor-bg2: #303030;
  --cor-bg3: #fff;
  --cor-bg4: #f3f3f3;
  --cor-bg5: #e50914;

  /* Cores de texto */

  --cor-txt0: #fff;
  --cor-txt1: #ffa00a;
  --cor-txt2: #999999;
  --cor-txt3: #8c8c8c;
  --cor-txt4: #0071eb;
  --cor-txt5: #757575;
  --cor-txt6: #333;
  --cor-txt7: #000;

  /* Cores de borda */

  --cor-border0: #ffffff40;
  --cor-border1: #ffa00a;
  --cor-border2: #aaaaaa;
  --cor-border3: #8c8c8c;
  --cor-border4: #333333;
  --cor-border5: #222222;
  --cor-border6: #fff;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  word-spacing: 0px;
  color: var(--cor-bg3);
  text-decoration: none solid #fff;
  overflow-x: hidden;

  background-color: var(--cor-bg0);

  transition: all 0s ease 0s;
}

img {
  max-width: 100%; /*  A imagem sempre vai ocupar 100% do width do seu pai*/
  display: block; /*  Por padrão as imagens vem em display inline-block*/
}

.header {
  margin: 22px auto 0 auto;
  max-width: 85vw;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header-logo {
  margin-right: auto;
}

.header > form {
  max-width: 110px;
  margin-right: 2rem;

  border: var(--cor-border6) 1px solid;
  border-radius: 3px;
}

#header-lang-select {
  width: 100%;
  height: 100%;

  padding: 8px 17px;

  border-radius: 3px;

  font-weight: 1.138rem;

  background-color: var(--cor-bg1);
  color: var(--cor-bg3);
  appearance: none;
}

.header-btn-entrar {
  padding: 7px 17px;

  font-size: 1rem;
  line-height: normal;
  text-decoration: none;

  background-color: var(--cor-bg5);
  color: var(--cor-bg3);

  border-radius: 3px;
}

.main {
  width: 100vw;
  height: 75vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: url(../images/header-bg.jpg) no-repeat center;
  background-size: cover;
  background-clip: content-box;

  border-bottom: 8px solid var(--cor-border5);
}

.main-background-gradient {
  position: absolute;

  background-color: var(--cor-bg1);
  background-image: linear-gradient(to top, #000c 0, #0000 60%, #000c 100%);

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.main-content {
  width: 100%;
  max-width: 950px;
  padding: 0 75px;

  text-align: center;

  color: var(--cor-bg3);

  z-index: 2;
}

.main-content h1 {
  font-size: 4rem;
  line-height: 4.4rem;
}

.main-content h2 {
  padding: 16px 0;

  font-size: 1.63rem;
  font-weight: 400;
}

.main-content h3 {
  padding-top: 13.6px;
  padding-bottom: 20px;

  font-size: 1.2rem;
  font-weight: 400;
}

.main-form-email {
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.main-form-email > input {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 0px 10px;
  border: solid 1px #8c8c8c;

  display: flex;
  justify-content: center;

  font-size: 1rem;

  color: #8c8c8c;
}

.main-form-email > button {
  width: 100%;
  max-width: 170px;
  height: 100%;
  border: none;
  padding: 0 30px;
  border-left: solid 1px var(--cor-bg0);

  font-size: 1.88rem;

  background-color: var(--cor-bg5);
  color: #fff;
}

.section {
  padding: 70px 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 8px solid var(--cor-border5);
}

.section-content {
  max-width: 1100px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 42px;
}

.section-content-text {
  width: 52%;
}

.section-content-text > h1 {
  margin-bottom: 0.5rem;

  font-size: 3.125rem;
  line-height: 1.1;
}

.section-content-text p {
  margin: 20px 0 7px 0;

  font-size: 1.625rem;
}

.section-content-card {
  width: 48%;
  position: relative;
}

.section-content-card > img {
  margin: -10% -5% -5% 0;
}

.section-content-card-video {
  max-width: 371px;

  position: absolute;
  top: 30px;
  left: 66px;

  z-index: -1;
}

.section-content-card > .section-content-card-video > video {
  width: 100%;
  height: 100%;
}

.desktop-video-asset {
  max-width: 324px;

  top: -9px;
  left: 96px;
}

.section-content-questions {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 50px;

  text-align: center;
}

.section-content-questions h1 {
  font-size: 3.125rem;
}

.section-content-toggle-list {
  width: 100%;
  max-width: 815px;

  text-align: left;
} 

.section-content-toggle-list li {
  margin-bottom: 8px;
  padding: 21px 57px 21px 31px;
  
  list-style: none;

  font-size: 1.625rem;
  
  background-color: var(--cor-bg2);
}

.section-content-toggle-list li:last-child {
  margin: 0;
}

.section-content-form p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.footer {
  margin: 5vh 0;
  text-align: center;
  font-size: 1.5rem;
}

.footer > p > img {
  margin-left: 1px;
  display: inline-block;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  color: var(--cor-bg5);
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 6px;
  }
}